.product-site {
	display: flex;
	flex-direction: column;
	font-family: "Arial", sans-serif;
	color: #333;
	width: 80%;
	margin: 0 auto;
}

.product-title {
	font-size: 32px;
	font-weight: bold;
	color: #333;
	margin: 20px 0;
	text-align: right;
}

.product-title-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.product-content {
	display: flex;
	width: 100%;
}

.product-image-container {
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.product-image {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.product-purchase-info {
	display: flex;
	width: 50%;
	justify-content: space-between;
}

.product-specs {
	height: 100%;
	background-color: #eee;
	width: 80%;
	margin: 10px;
	padding: 10px;
	border-radius: 20px;
}

.product-specs p {
	margin: 30px 0;
}

.product-purchase-section {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.product-price {
	font-size: 24px;
	color: #d0011b;
	margin: 10px 0;
}

.btn-add-to-cart {
	background-color: #00ae2b;
	color: white;
	border-radius: 20px;
	border-color: black;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
}

.btn-add-to-cart:hover {
	background-color: #02661b;
}

.product-description {
	width: 100%;
	margin-top: 20px;
	padding: 10px;
	border-top: 1px solid #eee;
}

.btn-add-to-cart:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

.spinner-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.spinner {
	border: 2px solid #f3f3f3;
	border-top: 2px solid #000;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

.reviews-section {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 80px;
}

.review-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.average-rating {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.rating-stars {
	font-size: 50px;
	color: #ccc;
}

.rating-stars .full-star {
	color: #fc0;
}

.rating-value {
	font-size: 32px;
	font-weight: bold;
	margin-right: 8px;
}

.rating-stars .half-star::before {
	content: "ï‚‰";
	position: absolute;
	color: #fc0;
	width: 50%;
	overflow: hidden;
}

.review {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

.review-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.review-author {
	font-weight: bold;
}

.review-content {
	margin-top: 10px;
}

.comments-container {
	margin-top: 20px;
}

.comment-item {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.comment-content {
	background: #f7f7f7;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
}

.comment-author {
	font-weight: bold;
	margin-bottom: 5px;
}

.comment-text {
	font-size: 14px;
}

.comments-section {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	margin-top: 10px;
	padding: 0;
	max-height: 400px;
}

.comment {
	margin-bottom: 0px;
	padding: 10px;
}

.comment-form {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	padding: 20px;
	background-color: #f7f7f7;
	border-radius: 10px;
	width: 100%;
}

.comment-form label {
	display: block;
	margin-bottom: 8px;
}

.comment-form input, .comment-form textarea, .comment-form select {
	width: 100%;
	padding: 8px;
	font-size: 16px;
	margin-bottom: 16px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.comment-form textarea {
	resize: vertical;
}

.comment-form button {
	padding: 10px 16px;
	font-size: 16px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.comment-form button:hover {
	background-color: #0056b3;
}

.progress {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ccc;
}

.progress-bar {
	height: 100%;
	background-color: #0f0;
	width: 0;
	animation: progressAnimation 2s linear forwards;
}

@keyframes progressAnimation {
	from {
		width: 0;
	}
	
	to {
		width: 100%;
	}
}

.submit-button {
	position: relative;
	overflow: hidden;
	padding: 10px 16px;
	font-size: 16px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.submit-button:hover {
	background-color: #0056b3;
}

.submit-button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

.comment-form.disabled {
	position: relative;
	background-color: #f7f7f7;
	opacity: .5;
	pointer-events: none;
}

.disabled-message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	color: #333;
	font-weight: bold;
}
.related-products {
	margin-bottom: 50px;
  }
  

#dark .product-title {
	color: #797979;
	padding: 10px;
	cursor: pointer;
}

#dark .product-description {
	color: #797979;
	padding: 10px;
}

#dark p {
	color: #b8b0b0;
	
}




@media (max-width: 767px) {
	.product-site {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 90px;
	}
	
	.product-content {
		display: flex;
		flex-direction: column;
	}
	
	.product-price, .btn-add-to-cart {
		max-width: 200px;
		margin: 0 auto;
		margin: 10px 0;
	}
	
	.disabled-message {
		position: absolute;
		top: 50%;
		left: 35%;
		transform: translate(-50%, -50%);
		font-size: 20px;
		color: #333;
		font-weight: bold;
		padding-top: 25px;
	}
	
	.product-purchase-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin-top: 0;
	}
	
	.product-specs {
		width: 100%;
		margin: 10px 0;
	}
	
	.product-purchase-section {
		width: 100%;
		margin-top: 10px;
	}
	
	.comment-form.disabled {
		width: 80%;
	}
	
	.disabled-message {
		font-size: 80%;
	}
	
	.product-site {
		width: 70%;
	}
	
	.product-image-container {
		width: 70%;
	}
	
	.product-title-container {
		width: 70%;
	}
	
	.product-title {
		font-size: 100%;
	}
	
	.reviews-section {
		width: 100%;
		margin: auto;
		margin-left: 2px;
	}
	
	.comment-form {
		margin-bottom: 10%;
		padding-bottom: 10%;
	}
}
