
.product {
  border: 1px solid #ccc; /* Dodaj ramkę wokół każdego produktu */
  border-radius: 25px;
  padding: 10px;
  text-align: center;
  transition: 0.3s ease-in;
  cursor: pointer;
  
}
.product img {
    width: 400px;
  }
  
  .product .description {
    text-align: center;
  }
  
  .product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .product:hover img {
    transform: scale(1.1); 
  }

  .addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
  }
  
#light .addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
  }
  
#dark .addToCartBttn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
  