  .product {
    display: flex; 
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 10px;
    transition: 0.3s ease-in;
    cursor: pointer;
    align-items: center;
  }
  
  
  .product img {
    height: 150px;
    transform: scale(0.9);
  }
  
  .product .description {
    flex-grow: 1; 
    text-align: left; 
    margin-left: auto; 
  }
  
    
    .product:hover {
      transition: 0.3s ease-in;
      cursor: pointer;
    }


    @media (width: 1024px) {
      .product {
        flex-wrap: wrap; 
      }
      .product .description {
        text-align: center;
      }
      
    }
    
    @media (width: 768px) {
      .product {
        flex-wrap: wrap;
      }
      .product .description {
        text-align: center;
      }
    }
  
    