#light form.bg-white{
  background-color: white;
}

#dark form.bg-white{
  background-color: #3d3a3a;
}

#dark input.placeholder-black{
  background-color: #aca9a9;
}

#dark Link.text-black{
  color: #aca9a9;
}

#dark label.text-gray-700{
  color: #aca9a9;
}
