
.product-details-table th,
.product-details-table td {
  border: 1px solid #ddd; 
  padding: 8px;
  text-align: left;
}

.highlight {
  background-color: #ffdddd; 
}

.Czarny{
  
  color: black;
}



@media (max-width: 768px) {
  .responsive-columns {
    flex-direction: column;
  }

  .column {
    max-width: 100%;
  }
}
