.product-details-table th,
.product-details-table td {
  border: 1px solid #ddd; 
  padding: 8px;
  text-align: left;
}

.highlight {
  background-color: #ffdddd; 
}

.Czarny{
  color: black;
}

#dark .w-full input {
  color: white;
  background-color: #393535;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
} 

@media (max-width: 767px) {
  .responsive-columns {
    flex-direction: column;
  }

  .column {
    max-width: 100%;
  }
}


.lower-value {
  background-color: green; 
}
.table-comparison {
  width: 100%;
  border-collapse: collapse;
}

.table-comparison th,
.table-comparison td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}