/* .footer-container {
  position: fixed;
  bottom: 0;
  background-color: rgb(17 24 39);
  color: white;
  margin-top: 30px;
  width: 100%;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  }

  .footer-container.active {
    transform: translateY(0);
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .footer-link {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 16px;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  .footer-social-icons {
    font-size: 24px;
  }
  
  .footer-social-icons a {
    color: white;
    margin: 0 10px;
    display: inline-flex; /* Dodaj ten styl, aby elementy były ułożone w jednej linii 
    align-items: center; 
  }

  
 */

 
.footer-container {
    position: fixed;
    bottom: 0;
    background-color: rgb(17 24 39);
    color: white;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
  
  .footer-container.active {
    transform: translateY(0);
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .footer-link {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 16px;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  
  /* Responsywność */
  @media (max-width: 768px) {
    .footer-links {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-link {
      margin: 10px 0;
      font-size: 14px;
    }
  }
  