body {
	margin-bottom: 64px;
}

.footer-container {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #191b1b;
	color: white;
	width: 100%;
	text-align: center;
	transform: translateY(0);
	transition: transform .3s ease;
	padding: 10px;
	box-sizing: border-box;
	z-index: 999;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
}

.footer-links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footer-link {
	color: white;
	text-decoration: none;
	margin: 0 20px;
	font-size: 16px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
}

.footer-link:hover {
	text-decoration: underline;
}

.text-gray-500 {
	color: #555;
}

.text-xs {
	font-size: 12px;
}

.footer-copyright {
	margin-top: auto;
}

.footer-social-media {
	display: flex;
	align-items: center;
}

.footer-icon-link .faFacebookF {
	color: #3b5998;
	font-size: 25px;
	margin-right: 10px;
}

.footer-icon-link .faInstagram {
	color: #c13584;
	font-size: 25px;
	margin-right: 10px;
}

.footer-icon-link .faTwitter {
	color: #1da1f2;
	font-size: 25px;
}
