.regulamin-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Arial", sans-serif;
  }
  

  .regulamin-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #878787;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .regulamin-container h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #878787; 
    cursor: default;
  }

  .regulamin-container p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #878787; 
  }

