.regulamin-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Arial", sans-serif;
  }
  

  .regulamin-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .regulamin-section h2:hover {
    color: #1b1e22; 
  }

  .regulamin-container h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #333; 
    cursor: default;
  }

  .regulamin-container p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #555; 
  }

  .button-download {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-download:hover {
    background-color: #45a049;
  }