.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
    padding: 32px;
    width: 100%;
    max-width: 1000px;
    background-color: white;
    border-radius: 8px;
}

.popup-inner .close-btn {
    position: absolute;
    font-size: large;
    top: 8px;
    right: 8px;
    width: 50px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}