.summation-container {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	font-family: "Arial", sans-serif;
}

.summation-details, .summation-cart {
	flex: 1;
	margin: 0 10px;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
	font-size: 16px;
}

.summation-details h1, .summation-details h2, .summation-cart h2 {
	color: #333;
	margin-bottom: 15px;
}

.item-photo {
	width: 80px;
	height: auto;
	margin-right: 15px;
	border-radius: 4px;
}

.final-purchase-button {
	font-family: "Arial", sans-serif;
	margin-top: 20px;
	width: 100%;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #4caf50;
	color: white;
	font-size: 18px;
	cursor: pointer;
	transition: background-color .3s ease;
}

.final-purchase-button:hover {
	background-color: #367c39;
}

.success-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	border: 1px solid #ccc;
	box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
	z-index: 1000;
	text-align: center;
}

@media (max-width: 768px) {
	.summation-container {
		flex-direction: column;
	}
	
	.summation-details, .summation-cart {
		margin: 10px 0;
		max-width: 100%;
	}
}

.detail-label {
	font-weight: bold;
}

.summation-details p {
	margin: 5px 0;
}

.summation-details p span.detail-label {
	font-weight: bold;
}

.thankYou {
	font-size: 30px;
	font-weight: bold;
	color: #4caf50;
	text-align: center;
	margin-top: 20px;
}


.blik-modal-overlay {
	border: 2px solid #ccc;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  }
  
  #dark .blik-modal-overlay {
	background-color: rgba(0, 0, 0, 0.8); /* Darker background for dark mode */
  }
  
  .blik-modal-content {
	border: solid 2px #ccc;
	position: relative;
	font-family: "Arial", sans-serif;
	font-size: 24px; /* Adjusted font size */
	text-align: center;
	padding: 20px; /* Added padding */
	width: 100%;
	max-width: 500px; /* Adjusted max-width */
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow for depth */
  }
  
   .blik-modal-content .close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 16px; /* Adjusted font size */
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: tomato;
  }
  #dark .blik-modal-content .close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 16px; /* Adjusted font size */
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: tomato;
  }
  
  .blik-modal-content .pop-btn {
	font-size: 18px; /* Adjusted font size */
	margin-top: 20px;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	background-color: #4CAF50; /* Green background */
	color: white;
	border: none;
  }